body {
  text-align: center;
  min-width: 500px;
  font-size: 16px;
}

button {
  border-radius: 10px;
  background: aquamarine;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  margin: 12px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}